.btn {
	border-radius: 6px;
	cursor: pointer;
	border: none;
	max-height: 40px;
	padding: 8px 16px;
	font-size: 16px;
	&.btn-white {
		background: $white !important;
		color: $brand-primary !important;
		&.btn-bordered {
			background: transparent !important;
			color: $white !important;
			border: 2px solid $white;
		}
	}
	&.btn-primary {
		background: $brand-primary !important;
		color: $white;
		border: none;
	}
	&.btn-full {
		width: 100%;
	}
	&.btn-sm {
		height: 32px;
		padding: 3px 14px;
	}
	&:disabled {
		cursor: not-allowed;
	}
}
