.check {
	display: none;
}

.check,
.check:after,
.check:before,
.check *,
.check *:after,
.check *:before,
.check + label.check-label {
	box-sizing: border-box;
}

.check::selection,
.check:after::selection,
.check:before::selection,
.check *::selection,
.check *:after::selection,
.check *:before::selection,
.check + label.check-label::selection {
	background: none;
}

.check + label.check-label {
	outline: 0;
	display: block;
	margin-top: 5px;
	width: 3.4em;
	height: 1.75em;
	position: relative;
	cursor: pointer;
	user-select: none;
}

.check + label.check-label:after,
.check + label.check-label:before {
	position: relative;
	display: block;
	content: "";
	width: 50%;
	height: 100%;
}

.check + label.check-label:after {
	left: 0;
}

.check + label.check-label:before {
	display: none;
}

.check:checked + label.check-label:after {
	left: 50%;
}

.check + label.check-label {
	background: #d8d8d8;
	border-radius: 2em;
	padding: 2px;
	transition: all .4s ease;
}

.check + label.check-label:after {
	border-radius: 50%;
	background: #fff;
	transition: all .2s ease;
}

.check:checked + label.check-label {
	background: $brand-primary !important;
}

.check:disabled + label {
	opacity: 0.6 !important;
}

//Style for box
.check + label.check-label.box {
	margin: 0;
	background: none !important;
	display: inline-block;
	height: auto;
	width: auto;
	padding: 0;
	&:after {
		display: none;
	}
	> span {
		display: block;
		margin-top: -3px;
		position: relative;
		top: 4px;
		margin-right: 2px;
		background-color: #fff !important;
		border: 1px solid $brand-primary;
		border-radius: 4px;
		height: 20px;
		width: 20px;
		float: left;
		background: none;
		cursor: pointer;
	}
}

.check:checked + label.check-label.box span {
	background: url('../assets/images/checked.png');
	background-size: 11px;
	background-position: center;
	background-repeat: no-repeat;
}
