/* General Styles
------------------------------------
*/
a {
	color: $brand-primary;
	cursor: pointer;
	&:hover,
	&:focus {
		text-decoration: none;
		color: $brand-primary;
	}
}

.clearfix {
	clear: both;
}

.white {
	color: $white;
}

section {
	overflow: hidden;
	> .container,
	.row,
	div[class^="col-"] {
		overflow: visible;
	}
}
/* Heading Styles
------------------------------------
*/

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-family: $font-family-heading;
}

h1.page-title {
	font-weight: 600;
	font-size: 40px;
}

h2.section-title-1 {
	font-size: 36px !important;
	color: $black;
	letter-spacing: normal;
	font-weight: 600;
	line-height: normal;

	@media (max-width: 767px) {
		font-size: 24px !important;
	}
}

h3.section-title-2 {
	font-size: 24px !important;
	color: $black;
	letter-spacing: normal;
	font-weight: 500;
	line-height: normal;

	@media (max-width: 767px) {
		font-size: 18px !important;
	}
}

p.lead {
	font-weight: 400;
	color: $brand-secondary;
	line-height: 32px;
	font-size: 18px;
}

h4.section-subtitle {
	font-size: 18px;
	text-transform: capitalize;
	color: $brand-secondary;
	font-weight: 500;
	letter-spacing: 1px;
}

h1,
.h1 {
	font-size: $font-size-h1;
	/* 64px */
}

h2,
.h2 {
	font-size: $font-size-h2;
	/* 52px */
}

h3,
.h3 {
	font-size: $font-size-h3;
	/* 40px */
}

h4,
.h4 {
	font-size: $font-size-h4;
	/* 29px */
}

h5,
.h5 {
	font-size: $font-size-h5;
	/* 28px */
}

h6,
.h6 {
	font-size: $font-size-h6;
	/* 24px */
}

/* Spacing Styles
------------------------------------
*/

section {
	padding-top: 5.5em;
	padding-bottom: 5.5em;
}
footer {
	padding-top: 2.5em;
	padding-bottom: 2.5em;
}

.bg--grey {
	background: #f9f9f9;
}

/* Background Image
--------------------------------------
*/

.background-image-holder {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: 0 0;
	background-repeat: no-repeat;
}

/* Text Helpers
------------------------------------
*/

.text-left {
	text-align: left !important;
}

.t-xxl {
	font-size: 30px;
}

.t-xl {
	font-size: 24px;
}

.t-l {
	font-size: 16px;
}

.t-s {
	font-size: 12px;
}

.t-xs {
	font-size: 10px;
}

.t-xxs {
	font-size: 8px;
}

.uppercase {
	text-transform: uppercase;
}

.thin {
	font-weight: 100 !important;
}

.light {
	font-weight: 300 !important;
}

.regular {
	font-weight: 400 !important;
}

.medium {
	font-weight: 500 !important;
}

.bold {
	font-weight: 600 !important;
}

.extra-bold {
	font-weight: 700 !important;
}

.italic {
	font-style: italic;
}

.text-muted {
	opacity: 0.5 !important;
}

@for $i from 0 through 10 {
	$i: $i * 8;
	.lh#{$i} {
		line-height: #{$i}px !important;
	}
}

/* Spaces
------------------------------------
*/

@for $i from 0 through 10 {
	$i: $i * 8;
	.p#{$i} {
		padding: #{$i}px !important;
	}
	.pt#{$i} {
		padding-top: #{$i}px !important;
	}
	.pb#{$i} {
		padding-bottom: #{$i}px !important;
	}
	.pl#{$i} {
		padding-left: #{$i}px !important;
	}
	.pr#{$i} {
		padding-right: #{$i}px !important;
	}
	.m#{$i} {
		margin: #{$i}px !important;
	}
	.mt#{$i} {
		margin-top: #{$i}px !important;
	}
	.mb#{$i} {
		margin-bottom: #{$i}px !important;
	}
	.ml#{$i} {
		margin-left: #{$i}px !important;
	}
	.mr#{$i} {
		margin-right: #{$i}px !important;
	}

	@media (max-width: 767px) {
		.p-xs#{$i} {
			padding: #{$i}px !important;
		}
		.pt-xs#{$i} {
			padding-top: #{$i}px !important;
		}
		.pb-xs#{$i} {
			padding-bottom: #{$i}px !important;
		}
		.pl-xs#{$i} {
			padding-left: #{$i}px !important;
		}
		.pr-xs#{$i} {
			padding-right: #{$i}px !important;
		}
		.m-xs#{$i} {
			margin: #{$i}px !important;
		}
		.mt-xs#{$i} {
			margin-top: #{$i}px !important;
		}
		.mb-xs#{$i} {
			margin-bottom: #{$i}px !important;
		}
		.ml-xs#{$i} {
			margin-left: #{$i}px !important;
		}
		.mr-xs#{$i} {
			margin-right: #{$i}px !important;
		}
	}
}

/* Border Helpers
------------------------------------
*/
.b-a,
.b-r,
.b-l,
.b-t,
.b-b {
	border-style: solid;
	border-width: 0;
	border-color: $base;
}

.b-r {
	border-right-width: 1px;
}

.b-l {
	border-left-width: 1px;
}

.b-t {
	border-top-width: 1px;
}

.b-b {
	border-bottom-width: 1px;
}

.b-a {
	border-width: 1px;
}

.b-dashed {
	border-style: dashed;
}

.b-thick {
	border-width: 2px;
}

/* General Helpers
------------------------------------
*/

.full-height {
	height: 100% !important;
}

.full-width {
	width: 100%;
}

.hide {
	display: none;
}

/* Colours
------------------------------------
*/

.brand-primary {
	color: $brand-primary !important;
}

.brand-secondary {
	color: $brand-secondary !important;
}

.brand-light {
	color: mix($brand-primary, #fff, 10%);
}

.red {
	color: $red;
}

.yellow {
	color: $yellow;
}

.cyan {
	color: $cyan;
}

.sky {
	color: $sky;
}

.purple {
	color: $purple;
}

.dark-grey {
	color: $dark-grey;
}

.light-grey {
	color: $light-grey;
}

.lighter-grey {
	color: $lighter-grey;
}

.grey {
	color: $grey;
}

.green {
	color: $green;
}

.brand-primary-bg {
	background-color: $brand-primary !important;
}

.brand-secondary-bg {
	background-color: $brand-secondary !important;
}

.brand-light-bg {
	background-color: mix($brand-primary, #fff, 10%) !important;
}

.red-bg {
	background-color: $red !important;
}

.yellow-bg {
	background-color: $yellow !important;
}

.cyan-bg {
	background-color: $cyan !important;
}

.sky-bg {
	background-color: $sky !important;
}
.purple-bg {
	background-color: $purple !important;
}

.dark-grey-bg {
	background-color: $dark-grey !important;
}

.light-grey-bg {
	background-color: $light-grey !important;
}

.lighter-grey-bg {
	background-color: $lighter-grey !important;
}

.grey-bg {
	background-color: $grey !important;
}

.green-bg {
	background-color: $green !important;
}

.brand-primary-bd {
	border-color: $brand-primary;
}

.brand-secondary-bd {
	border-color: $brand-secondary;
}

.brand-light-bd {
	border-color: mix($brand-primary, #fff, 10%);
}

.red-bd {
	border-color: $red;
}

.yellow-bd {
	border-color: $yellow;
}

.cyan-bd {
	border-color: $cyan;
}

.sky-bd {
	border-color: $sky;
}

.purple-bd {
	border-color: $purple;
}

.dark-grey-bd {
	border-color: $dark-grey;
}

.light-grey-bd {
	border-color: $light-grey;
}

.lighter-grey-bd {
	border-color: $lighter-grey;
}

.grey-bd {
	border-color: $grey;
}

.green-bd {
	border-color: $green;
}

.error {
	color: $error;
}

.pointer {
	cursor: pointer;
}
