input,
select,
textarea {
	font-family: $font-family-heading;
}
input[type="text"],
input[type="email"],
textarea,
select,
input[type="password"] {
	-webkit-appearance: none;
	-moz-appearance: none;
}

.form-group {
	margin-bottom: 16px;
	line-height: 19px;
	position: relative;
	label {
		float: left;
		width: 100%;
		color: $light-grey;
		font-size: 14px;
		margin-bottom: 8px;
	}
	.form-control {
		width: 100%;
		height: 40px;
		border-radius: 5px;
		padding: 12px;
		border: solid 1px #e0e7ff;
		background: rgba(224, 231, 255, 0.2);
		box-shadow: none;
		-webkit-appearance: none;
		color: $base;
		&:focus {
			outline: none;
		}
		&::-webkit-input-placeholder {
			/* Chrome/Opera/Safari */
			text-transform: capitalize;
			color: lighten($body-text, 15%);
			font-family: $font-family-heading !important;
			font-weight: 400;
		}
		&::-moz-placeholder {
			/* Firefox 19+ */
			color: lighten($body-text, 15%);
			text-transform: capitalize;
			font-family: $font-family-heading !important;
			font-weight: 400;
		}
		&:-ms-input-placeholder {
			/* IE 10+ */
			color: lighten($body-text, 15%);
			text-transform: capitalize;
			font-family: $font-family-heading !important;
			font-weight: 400;
		}
		&:-moz-placeholder {
			/* Firefox 18- */
			color: lighten($body-text, 15%);
			text-transform: capitalize;
			font-family: $font-family-heading !important;
			font-weight: 400;
		}
		&.no-border {
			border: none;
		}
		&.datepicker {
			background-image: url('../assets/images/datepicker.svg');
			background-repeat: no-repeat;
			background-size: 26px;
			background-position: right 14px center;
		}
	}
	.form-control-static {
		font-weight: 600;
		font-size: 16px;
	}
	textarea {
		width: 100%;
		height: 150px !important;
		font-family: $font-family-body;
		resize: none;
	}
	select {
		height: 48px;
		width: 100%;
		border-radius: 6px;
		background-color: $white;
		border: none;
		font-size: 16px;
		cursor: pointer;
		color: lighten($body-text, 15%);
		font-weight: 400;
		font-family: $font-family-heading;
		background-image: url('../assets/images/select.png');
		background-repeat: no-repeat;
		background-size: 16px;
		background-position: right 13px center;
		box-shadow: none;
		-webkit-appearance: none;
		&:focus {
			outline: none;
		}
		option {
			color: $base !important;
			// &:first {
			// 	color: lighten($body-text, 15%);
			// }
		}
	}
}
