@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';
@import '~flatpickr/dist/flatpickr.css';
@import 'common';
@import 'check';
@import 'button';
@import 'forms';
@import 'modal';
@import 'calendar';
@import 'tabs';
@import 'select';

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900&display=swap');
