.nav {
  &.nav-tabs {
    border: none;
    .nav-item {
      margin: 0 16px;
      a {
        font-size: 18px;
        color: $light-grey;
        &:hover {
          border-color: transparent;
        }
        &.active {
          background-color: transparent;
          font-weight: 600;
          border: none;
          color: $brand-primary;
          border-bottom: 3px solid $brand-primary;
        }
      }
    }
  }
}
