/* Colors
------------------------------------
*/

$brand-primary: #d31c1e;
$brand-primary-light: mix($brand-primary, #fff, 10%);
$brand-primary-dark: mix($brand-primary, #000, 10%);

$brand-secondary: #2e384d;
$body-background: #f4f6fb;
$body-text:#2e384d;
$body-silent-text: #cccccc;

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;
$navy: #1b1297;
$sky: #48b0f7;

/* Alerts
------------------------------------
*/

$alert: #ff8f46;
$error: #f55753;
$success: #52cb3c;
$links: #319ff0;

/* Greys
------------------------------------
*/

$concrete: #95a5a6;
$asbestos: #7f8c8d;
$silver: #bdc3c7;
$dirty-white: #f5f5f5;
$inverse: white;
$black: black;
$cream: #bfc3c2;
$darker-grey: lighten(#000, 13.5%); // #222
$dark-grey: lighten(#000, 20%); // #333
$grey: lighten(#000, 33.5%); // #555
$light-grey: rgba(100, 100, 100, 0.5);
$lighter-grey: rgba(100, 100, 100, 0.1);

/* Base Style
------------------------------------
*/

$base-font-size: 14px;
$line-height-base: 1.72222;
$base: $body-text;

/* Font Style
------------------------------------
*/

$font-family-heading: 'Nunito Sans', sans-serif;
$font-family-body: 'Nunito Sans', sans-serif;

$font-size-h1: floor($base-font-size * 3.444); // ~62px
$font-size-h2: ceil($base-font-size * 2.889); // ~52px
$font-size-h3: ceil($base-font-size * 2.222); // ~40px
$font-size-h4: ceil($base-font-size * 1.611); // ~29px
$font-size-h5: floor($base-font-size * 1.556); // ~28px
$font-size-h6: ceil($base-font-size * 1.333); // ~24px

$headings-font-family: inherit;
$headings-font-weight: 700;
$headings-line-height: 1.1;
$headings-color: inherit;

/* Icon Sizes
------------------------------------
*/

$icon-normal: 16px;
$icon-medium: 18px;
$icon-large: 32px;

/* Mixins Config
------------------------------------
*/
$enable-gradients: true;

$sidebar-width: 120px;
$topbar-height: 80px;
